*{
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  height: 100vh;
  background: url(bg.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card{
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-header{
  background: #2c3a47;
  padding: 60px 40px;
}

.pic{
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient{
  25%{
    background-position: left bottom;
  }
  50%{
    background-position: right bottom;
  }
  75%{
    background-position: right top;
  }
  100%{
    background-position: left top;
  }
}

.pic img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name{
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc{
  font-size: 18px;
  color: #e66767;
}

.sm{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a{
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: .3s linear;
}

.sm a:hover{
  color: #e66767;
}

.contact-btn{
  display: inline-block;
  padding: 12px 50px;
  color: #e66767;
  border: 2px solid #e66767;
  border-radius: 6px;
  margin-top: 16px;
  transition: .3s linear;
}

.contact-btn:hover{
  background: #e66767;
  color: #f2f2f2;
}

.card-footer{
  background: #f4f4f4;
  padding: 60px 10px;
}

.numbers{
  display: flex;
  align-items: center;
}

.item{
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #e66767;
}

.item span{
  display: block;
  color: #2c3a47;
  font-size: 30px;
}

.border{
  width: 1px;
  height: 30px;
  background: #bbb;
}

/* TWITTER */
.social-media-button.icon.twitter:before {
    content: "\f099";
}
.social-media-button.twitter {
    background: #1da1f2;
}
 
/* FACEBOOK */
.social-media-button.icon.facebook:before {
    content: "\f230";
}
.social-media-button.facebook {
    background: #3b5998;
}

/* YOUTUBE */
.social-media-button.icon.youtube:before {
    content: "\f167";
}
.social-media-button.youtube {
    background: #cd201f;
}
 
/* GOOGLE+ */
.social-media-button.icon.gplus:before {
    content: "\f0d5";
}
.social-media-button.gplus {
    background: #dd4b39;
}
 
/* INSTAGRAM */
.social-media-button.icon.instagram:before {
    content: "\f16d";
}
.social-media-button.instagram {
    background: #517fa4;
}
 
/* PINTEREST */
.social-media-button.icon.pinterest:before {
    content: "\f0d2";
}
.social-media-button.pinterest {
    background: #bd081c;
}
 
/* LINKEDIN */
.social-media-button.icon.linkedin:before {
    content: "\f08c";
}
.social-media-button.linkedin {
    background: #0077b5;
}
 
/* RSS */
.social-media-button.icon.rss:before {
    content: "\f143";
}
.social-media-button.rss {
    background: #f26522;
}
 
/* SKYPE */
.social-media-button.icon.skype:before {
    content: "\f17e";
}
.social-media-button.skype {
    background: #00aff0;
}
 
/* WHATSAPP */
.social-media-button.icon.whatsapp:before {
    content: "\f232";
}
.social-media-button.whatsapp {
    background: #43d854;
}
 
/* WORDPRESS */
.social-media-button.icon.wordpress:before {
    content: "\f19a";
}
.social-media-button.wordpress {
    background: #21759b;
}
 
/* TUMBLR */
.social-media-button.icon.tumblr:before {
    content: "\f173";
}
.social-media-button.tumblr {
    background: #35465c;
}
 
/* DROPBOX */
.social-media-button.icon.dropbox:before {
    content: "\f16b";
}
.social-media-button.dropbox {
    background: #007ee5;
}


